/* You can add global styles to this file, and also import other style files */
* { font-family: 'Source Sans Pro', serif; font-weight: 400; box-sizing: border-box; }
body, hrml { padding: 0; margin: 0; }
